.filter-tabs {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  justify-content: center;

  @media (min-width: 768px) {
    padding: 0;
  }

  .filter-option {
    display: inline-block;
    padding: 0.5rem 1.25rem;
    border: 2px solid var(--outline-spacing);
    border-radius: 25px;
    background: var(--filter-bg);
    color: var(--filter-text);
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition);
    font-size: 20px;
    outline: 2px solid var(--outline-spacing);

    &.active {
      background: var(--red-500);
      color: var(--active-button);

      &:hover {
        outline: 2px solid var(--active-button-hover);
      }
    }

    &:hover:not(.active) {
      background: var(--not-active-hover);
      border: 2px solid var(--outline-spacing);
      outline: 2px solid var(--not-active-outline);
    }

    .all-btn {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      white-space: nowrap;
      border: 0;
    }
  }
}